@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Urbanist";
}

/* h1,
h2,
h3,
h4 {
    font-family: "Urbanist";
} */

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

/* p,
input {
    font-family: "Urbanist";
} */

a {
    text-decoration: underline;
    @apply text-emerald-500;
}

.ticklist li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
  
.ticklist li::before {
    content: '✔';
    position: absolute;
    left: 0;
    /* color: white; */
    font-size: 18px;
}

.form-field{
    border: 1px solid transparent;
    @apply  bg-emerald-900 placeholder-white placeholder-opacity-60 rounded
}
.form-field:focus{
    outline: none;
    border: 1px solid;
    @apply border-emerald-300
}


.signup-bg{
    background-image: url('PLACEHOLDER');
}

.nav{
    justify-content: space-around;
}

.button-boxshad:hover{
    box-shadow: 3px 3px rgba(255, 255, 255, 0.8);
}


.cards {
    @apply flex pt-20 gap-4;
}

.card{
    @apply w-[300px] bg-white rounded-lg shadow-lg h-[300px] text-emerald-800 flex flex-col justify-center items-center p-6 transform transition duration-500 hover:scale-105 hover:shadow-lg hover:shadow-emerald-950;
    overflow: hidden;
}

.card p{
    @apply text-black
}